In [3]:
print('Hello World!')

Hello World!

In [2]:
HW = 'Hello World!'

In [4]:
print(HW)

Hello World!

In [8]:
HW

'Hello World!'

In [5]:
v = 45

In [6]:
print(v)

45

In [7]:
v

45

In [24]:
type(HW)       # Podemos saber o tipo de objeto 
               # utilizando a função 'type'

str

In [10]:
print(type(HW))

<class 'str'>

In [18]:
print(HW,"é um objeto do tipo 'string'")

Hello World! é um objeto do tipo 'string'

In [11]:
type(v)

int

In [12]:
print(type(v))

<class 'int'>

In [19]:
print(v,"é um objeto do tipo 'inteiro'")

45 é um objeto do tipo 'inteiro'

In [13]:
w = 5.4

In [14]:
type(w)

float

In [20]:
print(w,"é um objeto do tipo 'flutuante'")

5.4 é um objeto do tipo 'flutuante'

In [15]:
z = 5.4j

In [16]:
type(z)

complex

In [22]:
print(w,"é um objeto do tipo 'complexo'")

5.4 é um objeto do tipo 'complexo'

### Operações numéricas (int,float,complex)

In [5]:
5+3

8

In [6]:
13-10

3

In [7]:
3*3

9

In [8]:
# Para elevar a uma potência, usaremos "**"
3**3

27

In [9]:
5/2

2.5

In [11]:
# Para saber o resto de uma divisão, usaremos "%"
7%2

1

In [12]:
6%2

0

In [14]:
type(5/2)

float

In [15]:
# É possível fazer divisão decimal e divisão inteira usando "/" e "//", respectivamente.

In [16]:
5/2

2.5

In [17]:
5//2

2

In [18]:
# Para tirar o módulo, ou valor absoluto, de um número, usamos abs

In [19]:
abs(-15)

15

In [20]:
# Para arrendondar um número, utilizamos "round" com duas entradas, 
# a primeira é o número a ser arredondado, 
# a segunda é quantidade de casas decimais a ser apresentada.

In [21]:
round(3.14159,4)

3.1416

### Declarações e Concatenção

In [22]:
# Decalarações simples ..SEMPRE ENTRE ASPAS, pois estamos lidando com strings

In [25]:
pessoa = "Guilherme"

In [26]:
pessoa

'Guilherme'

In [31]:
# Declarações múltiplas

In [34]:
pessoa1, pessoa2, pessoa3 = "Galileu","Newton","Einstein"

In [28]:
pessoa1

'Galileu'

In [29]:
pessoa3

'Einstein'

In [30]:
pessoa2

'Newton'

In [36]:
Pessoas = pessoa1 + pessoa2 + pessoa3

In [37]:
print(Pessoas)

GalileuNewtonEinstein

In [38]:
type(Pessoas)

str

In [32]:
#Declarações multiplas unitárias

In [33]:
pessoa1=pessoa2="Einstein"

In [34]:
pessoa1

'Einstein'

In [35]:
pessoa2

'Einstein'

In [36]:
#Não definimos a declaração "Pessoa1", e sim "pessoa1". Se rodarmos Pessoa1, uma mensagem de erro aparecerá.

In [37]:
Pessoa1

NameError: name 'Pessoa1' is not defined

### Atribuição definida pelo usuário

In [40]:
x = input('Digite um valor:')
print(x)
print (x + x)

Digite um valor:batata
batata
batatabatata

In [41]:
x = input('Digite um valor:')
print(x)
print (x + x)

Digite um valor:1
1
11

In [42]:
x = int(input('Digite um valor:'))
print(x)
print (x + x)

Digite um valor:1
1
2

### Declarações atribuídas a outras declarações

In [38]:
altura=4
largura=6

In [43]:
área=altura*largura

In [44]:
área

24

In [45]:
# a ordem das operações é igual na matemática

In [46]:
a=2
b=4
c=3

In [49]:
a*b+c

11

In [50]:
a*(b+c)

14

### Indexação de strings

In [51]:
# Podemos escrever uma frase, string, e escolher uma letra ou caractere indexando-a.

In [52]:
s="Gui Barros"

In [53]:
s

'Gui Barros'

In [54]:
s[0]

'G'

In [55]:
s[2]

'i'

In [56]:
s[3]

' '

In [57]:
#slicing
s[2:]

'i Barros'

In [60]:
s[:2]

'Gu'

In [61]:
s[:5]

'Gui B'

In [62]:
s[-1]

's'

In [63]:
s[-3]

'r'

In [64]:
s[:-2]

'Gui Barr'

In [65]:
s[::1]

'Gui Barros'

In [66]:
s[::2]

'GiBro'

In [67]:
s[::3]

'G rs'

In [68]:
s[::-1]

'sorraB iuG'

## Funções built-in em strings

In [69]:
# Podemos usar a variável declação seguida de um ".", e apertar a tecla tab para utilizar as funções built-in.
# Neste caso utilizaremos as funções próprias de strings, cada objeto terá suas funções próprias.

In [70]:
s = 'Guilherme Nobre Guimarães Barros'

In [71]:
s.upper()

'GUILHERME NOBRE GUIMARÃES BARROS'

In [72]:
s.lower()

'guilherme nobre guimarães barros'

In [73]:
s.capitalize()

'Guilherme nobre guimarães barros'

In [77]:
s.split()

['Guilherme', 'Nobre', 'Guimarães', 'Barros']

In [81]:
s

'Guilherme Nobre Guimarães Barros'

In [82]:
s.count('e')

4

In [83]:
s.count('o')

2

In [84]:
s.endswith('a')

False

In [85]:
s.endswith('s')

True

## ESTRUTURAS EM LISTAS

1. Uma lista é uma coleção ordenada e mutável de elementos.
2. Os elementos em uma lista são acessados por meio de índices, que começam em 0.
3. Os elementos de uma lista podem ser de tipos diferentes e podem ser modificados após a criação.

Exemplo: minha_lista = [1, 2, 3, 'quatro']

In [125]:
listacomida=['arroz','feijão','batata','tomate',10,100]

In [126]:
type(listacomida)

list

In [127]:
listacomida

['arroz', 'feijão', 'batata', 'tomate', 10, 100]

In [128]:
# indexando cada elemento da lista
item0 = listacomida[0]
item1 = listacomida[1]
item2 = listacomida[2]
item3 = listacomida[3]
item4 = listacomida[4]
item5 = listacomida[5]

In [129]:
item0,item1,item2,item3,item4,item5

('arroz', 'feijão', 'batata', 'tomate', 10, 100)

In [130]:
print(item0,item1,item2,item3,item4,item5)

arroz feijão batata tomate 10 100

In [131]:
# Podemos alterar um item da lista
listacomida[3] = 'cebola'

In [132]:
listacomida

['arroz', 'feijão', 'batata', 'cebola', 10, 100]

In [133]:
# Podemos adicionar um item à lista usando .append ...
# Aqui será adicionado ao final da lista, mas podemos adicionar em qualquer posição. Veja função .insert mais abaixo
listacomida.append('cenoura')

In [134]:
print("Lista após adicionar um elemento:", listacomida)

Lista após adicionar um elemento: ['arroz', 'feijão', 'batata', 'cebola', 10, 100, 'cenoura']

In [135]:
# Podemos deletar um item da lista
del(listacomida[1])

In [136]:
print("Lista após remover um elemento:", listacomida)

Lista após remover um elemento: ['arroz', 'batata', 'cebola', 10, 100, 'cenoura']

In [99]:
# Podemos criar lista de listas

In [100]:
listas=[[1,2,3],[4,5,6],[7,8,9]]

In [101]:
listas

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [102]:
listas[0]

[1, 2, 3]

In [103]:
listas[1]

[4, 5, 6]

In [104]:
listas[0][0]

1

In [105]:
listas[0][1]

2

In [106]:
listas[1][0]

4

In [108]:
listas[2][2]

9

In [109]:
# Concatenando listas
lista1 = [1,2,3]
lista2 = [4,5,6]
lista3 = [3,4,5]

In [110]:
lista1 + lista2

[1, 2, 3, 4, 5, 6]

In [112]:
#Concatenar listas pode repetir elementos de listas diferentes. Não é uma união de conjuntos! 

lista1 + lista3

[1, 2, 3, 3, 4, 5]

In [114]:
lista2 + lista3

[4, 5, 6, 3, 4, 5]

### Algumas funções para listas

In [137]:
listacomida

['arroz', 'batata', 'cebola', 10, 100, 'cenoura']

In [138]:
# Número de elemento numa lista

len(listacomida)

6

In [139]:
lista1 + lista2

[1, 2, 3, 4, 5, 6]

In [140]:
# retornar o valor máximo
max(lista1 + lista2)

6

In [141]:
# retornar o valor mínimo
min(lista1 + lista2)

1

In [142]:
# Podemos contar quantos elementos repetidos aparecem em uma lista usando a função .count

In [146]:
listaA = lista1 + lista2

In [170]:
listaB = lista2 + lista3

In [171]:
print('listaA:',listaA,'listaB:',listaB)

listaA: [1, 2, 3, 4, 5, 6] listaB: [4, 5, 6, 3, 4, 5]

In [151]:
listaA.count(3)

1

In [152]:
listaB.count(4)

2

In [153]:
listaB.count(6)

1

In [154]:
# Podemos saber o número indexador de um elemento da lista usando a função .index

In [155]:
listacomida

['arroz', 'batata', 'cebola', 10, 100, 'cenoura']

In [156]:
listacomida.index('cebola')

2

In [157]:
listacomida.index(100)

4

In [158]:
# Para inserir um elemento em qualquer posição, utilizamos a função .insert, indexando e colocando o objeto a ser inserido.

In [159]:
listacomida

['arroz', 'batata', 'cebola', 10, 100, 'cenoura']

In [160]:
listacomida.insert(2,'alho')

In [161]:
print("Lista após adicionar um elemento na posição específica:", listacomida)

Lista após adicionar um elemento na posição específica: ['arroz', 'batata', 'alho', 'cebola', 10, 100, 'cenoura']

In [166]:
# Podemos remover um elemento usando a função .remove, de forma que inserimos o nome dele.
# Se houver multiplicidade apenas um será removido

In [172]:
listaB

[4, 5, 6, 3, 4, 5]

In [173]:
listaB.remove(5)

In [174]:
print("Lista após remover um elemento:", listaB)

Lista após remover um elemento: [4, 6, 3, 4, 5]

In [167]:
listaC = [0,0,0,1,2]

In [168]:
listaC.remove(0)

In [169]:
listaC

[0, 0, 1, 2]

In [175]:
# Podemos inverter a ordem apresentada originalmente com a função .reverse

In [176]:
listaD = [1,2,3,4,5,6,7,8,9]

In [178]:
listaD.reverse()

In [179]:
print("Lista após inverter ordem original:", listaD)

Lista após inverter ordem original: [9, 8, 7, 6, 5, 4, 3, 2, 1]

In [180]:
# Podemos ordenar caso a lista original apresente embaralhamento entre seus elementos.

In [181]:
listaE = [3,4,1,8,5,2,7,6,9]

In [183]:
listaE.sort()

In [184]:
print("Lista após ordenar os elementos:", listaE)

Lista após ordenar os elementos: [1, 2, 3, 4, 5, 6, 7, 8, 9]

# ESTRUTURAS EM DICIONÁRIOS

1. Um dicionário é uma coleção não ordenada e mutável de pares chave-valor.
2. Os elementos em um dicionário são acessados por meio de chaves, em vez de índices.
3. Cada chave em um dicionário é única e associada a um valor específico.
4. Os valores em um dicionário podem ser de tipos diferentes e podem ser modificados após a criação.

Exemplo: meu_dicionario = {'chave1': 'valor1', 'chave2': 2, 'chave3': [1, 2, 3]}

In [1]:
# Isto é um dicionário

estudantes_e_idades = {"Pedro":24,"Ana":22,"Ronaldo":26,"Janaina":25}

In [2]:
type(estudantes_e_idades)

dict

In [3]:
estudantes_e_idades

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

In [4]:
# Dentro de um dicionário, um item é composto de chave e valor.
# No caso do dicionário acima, temos que o primeiro item tem chave "Pedro" e valor "24".

In [9]:
# Podemos chamar o valor usando como argumento a chave
estudantes_e_idades["Pedro"]

24

In [10]:
# Podemos adicionar um item ao dicionário atribuindo um valor a uma nova chave
estudantes_e_idades["Marcelo"] = 23

In [11]:
estudantes_e_idades

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25, 'Marcelo': 23}

In [16]:
# Podemos adicionar um dicionário a outro, usando a função update
estudantes_e_idades2 = {"Camila":27,"Adriana":28,"Roberto":29}

In [17]:
estudantes_e_idades.update(estudantes_e_idades2)

In [18]:
estudantes_e_idades

{'Pedro': 24,
 'Ana': 22,
 'Ronaldo': 26,
 'Janaina': 25,
 'Marcelo': 23,
 'Camila': 27,
 'Adriana': 28,
 'Roberto': 29}

In [19]:
# Para encontrarmos a quantidade de itens dentro de um dicionário utilizamos a função len

len(estudantes_e_idades)

8

In [ ]:
# Podemos retornar somente chaves, ou valores, ou itens, respectivamente, com as funções abaixo

In [20]:
estudantes_e_idades.keys()

dict_keys(['Pedro', 'Ana', 'Ronaldo', 'Janaina', 'Marcelo', 'Camila', 'Adriana', 'Roberto'])

In [21]:
estudantes_e_idades.values()

dict_values([24, 22, 26, 25, 23, 27, 28, 29])

In [22]:
estudantes_e_idades.items()

dict_items([('Pedro', 24), ('Ana', 22), ('Ronaldo', 26), ('Janaina', 25), ('Marcelo', 23), ('Camila', 27), ('Adriana', 28), ('Roberto', 29)])

In [23]:
# Os pares Chave e Valor podem ser quaisquer tipos de objetos: strings, inteiros, floats, complexos.

In [24]:
# Dicionário de listas
dict1 = {"chave1":123,"chave2":[1,2,3],"chave3":["banana","pera","uva"]}

In [25]:
dict1['chave1']

123

In [26]:
dict1['chave2']

[1, 2, 3]

In [28]:
dict1["chave2"][2]

3

# ESTRUTURAS EM TUPLAS

1. Uma tupla é uma coleção ordenada e imutável de elementos.
2. Os elementos em uma tupla são acessados por meio de índices, assim como em listas.
3. No entanto, uma vez que uma tupla é criada, seus elementos não podem ser alterados.
4. Tuplas são frequentemente usadas para representar dados que não devem ser modificados.

Exemplo: minha_tupla = (1, 2, 3, 'quatro')

In [29]:
# Criando uma tupla
tupla1 = ("Geografia",23,"Elefante",9.8)

In [30]:
tupla1

('Geografia', 23, 'Elefante', 9.8)

In [34]:
# As funções built-in disponíveis para tupla são funções não-modificáveis.

In [36]:
# Para verificarmos funções disponíveis para um objeto em Python, utilizamos a função dir

In [37]:
dir(tupla1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [38]:
tupla1[0]

'Geografia'

In [41]:
# Para podermos realizar modificações, podemos converter a tupla em lista, usando a função list
tupla_transf_em_list = list(tupla1)

In [42]:
tupla1

('Geografia', 23, 'Elefante', 9.8)

In [43]:
tupla_transf_em_list

['Geografia', 23, 'Elefante', 9.8]

In [44]:
tupla_transf_em_list[0] = 'Matemática'

In [45]:
tupla_transf_em_list

['Matemática', 23, 'Elefante', 9.8]

In [46]:
# Utilizamos a função tuple para voltar para tupla
tupla1 = tuple(tupla_transf_em_list)

In [47]:
tupla1

('Matemática', 23, 'Elefante', 9.8)