In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sea
import requests
import datetime as dt

pd.set_option('display.max_columns',None)
# pd.set_option('display.max_rows',None)
pd.options.display.float_format = '{:.2f}'.format

In [3]:
dfilmes = pd.read_csv("horror_movies.csv")

## 1) Verificando o Dataset

In [4]:
display(dfilmes)

,id,original_title,title,original_language,overview,tagline,release_date,poster_path,popularity,vote_count,vote_average,budget,revenue,runtime,status,adult,backdrop_path,genre_names,collection,collection_name
0,760161,Orphan: First Kill,Orphan: First Kill,en,After escaping from an Estonian psychiatric fa...,There's always been something wrong with Esther.,2022-07-27,/pHkKbIRoCe7zIFvqan9LFSaQAde.jpg,5088.58,902,6.90,0,9572765,99,Released,False,/5GA3vV1aWWHTSDO5eno8V5zDo8r.jpg,"Horror, Thriller",760193.00,Orphan Collection
1,760741,Beast,Beast,en,A recently widowed man and his two teenage dau...,Fight for family.,2022-08-11,/xIGr7UHsKf0URWmyyd5qFMAq4d8.jpg,2172.34,584,7.10,0,56000000,93,Released,False,/2k9tBql5GYH328Krj66tDT9LtFZ.jpg,"Adventure, Drama, Horror",NaN,NaN
2,882598,Smile,Smile,en,"After witnessing a bizarre, traumatic incident...","Once you see it, it’s too late.",2022-09-23,/hiaeZKzwsk4y4atFhmncO5KRxeT.jpg,1863.63,114,6.80,17000000,45000000,115,Released,False,/mVNPfpydornVe4H4UCIk7WevWjf.jpg,"Horror, Mystery, Thriller",NaN,NaN
3,756999,The Black Phone,The Black Phone,en,"Finney Blake, a shy but clever 13-year-old boy...",Never talk to strangers.,2022-06-22,/lr11mCT85T1JanlgjMuhs9nMht4.jpg,1071.40,2736,7.90,18800000,161000000,103,Released,False,/AfvIjhDu9p64jKcmohS4hsPG95Q.jpg,"Horror, Thriller",NaN,NaN
4,772450,Presencias,Presences,es,A man who loses his wife and goes to seclude h...,NaN,2022-09-07,/dgDT3uol3mdvwEg0jt1ble3l9hw.jpg,1021.00,83,7.00,0,0,0,Released,False,/ojfzhdwRemcDt1I6pao6vVLw9AA.jpg,Horror,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32535,1032201,Catch a Butcher,Catch a Butcher,en,In a maternity ward in nineteenth-century Indi...,NaN,2021-11-20,/4LHrYpe6bjiT8Wvkzl3269LIUZl.jpg,0.60,0,0.00,0,0,11,Released,False,NaN,Horror,NaN,NaN
32536,1032667,Shaye Saint John: The Triggers Compilation,Shaye Saint John: The Triggers Compilation,en,A bizarre mix of early Tod Hayne's and Phyllis...,"""Just keep in mind, that you'll be trying to s...",2006-10-30,/j1vWwxnTsoKjZFwJODiNHNS8GFK.jpg,0.60,0,0.00,0,0,92,Released,False,NaN,"Fantasy, Horror",NaN,NaN
32537,1032890,Welcome to the Occult Forest,Welcome to the Occult Forest,en,A washed up horror film director named Kôji Ku...,"Murders, crimes, laughter, psychics, superhero...",2022-07-22,/ngFyxdliPZrG3Qra7tW3LbWksFd.jpg,0.60,0,0.00,0,0,141,Released,False,/s8Kpai084gCgQlsT3bpaEYuJmDc.jpg,"Comedy, Drama, Horror",NaN,NaN
32538,1033052,The Mean One,The Mean One,en,"The Mean One is a hairy, green-skinned grump i...",NaN,2022-12-15,NaN,0.00,0,0.00,0,0,0,Post Production,False,NaN,Horror,NaN,NaN
32539,1033095,Secret Formula,Secret Formula,en,NaN,NaN,2020-12-06,/5GTTNqHwXfqqnBPrZAv0DVoWfjr.jpg,0.00,0,0.00,0,0,0,Released,False,NaN,"Animation, Horror",NaN,NaN

O método 'display()' nos mostra o início e o fim do dataset, abaixo mostra também o total de linhas x colunas.


Uma maneira mais rápida de ver o total de linhas x colunas é utilizando o método 'shape'

In [5]:
dfilmes.shape

(32540, 20)

Nem todas as colunas serão de nosso interesse. Vamos remover as colunas 'id', 'overview', 'tagline', 'poster_path', 'status', 'adult', 'backdrop_path', 'collection' e 'collection_name'

In [6]:
dfilmes = dfilmes.drop(columns=['id', 
                                'overview', 
                                'tagline', 
                                'poster_path', 
                                'status', 
                                'adult', 
                                'backdrop_path', 
                                'collection',
                                'collection_name'])

In [7]:
display(dfilmes)

,original_title,title,original_language,release_date,popularity,vote_count,vote_average,budget,revenue,runtime,genre_names
0,Orphan: First Kill,Orphan: First Kill,en,2022-07-27,5088.58,902,6.90,0,9572765,99,"Horror, Thriller"
1,Beast,Beast,en,2022-08-11,2172.34,584,7.10,0,56000000,93,"Adventure, Drama, Horror"
2,Smile,Smile,en,2022-09-23,1863.63,114,6.80,17000000,45000000,115,"Horror, Mystery, Thriller"
3,The Black Phone,The Black Phone,en,2022-06-22,1071.40,2736,7.90,18800000,161000000,103,"Horror, Thriller"
4,Presencias,Presences,es,2022-09-07,1021.00,83,7.00,0,0,0,Horror
...,...,...,...,...,...,...,...,...,...,...,...
32535,Catch a Butcher,Catch a Butcher,en,2021-11-20,0.60,0,0.00,0,0,11,Horror
32536,Shaye Saint John: The Triggers Compilation,Shaye Saint John: The Triggers Compilation,en,2006-10-30,0.60,0,0.00,0,0,92,"Fantasy, Horror"
32537,Welcome to the Occult Forest,Welcome to the Occult Forest,en,2022-07-22,0.60,0,0.00,0,0,141,"Comedy, Drama, Horror"
32538,The Mean One,The Mean One,en,2022-12-15,0.00,0,0.00,0,0,0,Horror
32539,Secret Formula,Secret Formula,en,2020-12-06,0.00,0,0.00,0,0,0,"Animation, Horror"

Muita limpeza desses dados serão necessárias

1. Começaremos alterando os valores '0' e '0.00' em algumas colunas por 'NaN', os valores '0' podem enviesar a análise.

In [8]:
dfilmes[['vote_count','budget','revenue','runtime']] = dfilmes[['vote_count','budget','revenue','runtime']].replace(0, np.nan)
dfilmes[['popularity','vote_average']] = dfilmes[['popularity','vote_average']].replace(0.00, np.nan)

In [9]:
display(dfilmes)

,original_title,title,original_language,release_date,popularity,vote_count,vote_average,budget,revenue,runtime,genre_names
0,Orphan: First Kill,Orphan: First Kill,en,2022-07-27,5088.58,902.00,6.90,NaN,9572765.00,99.00,"Horror, Thriller"
1,Beast,Beast,en,2022-08-11,2172.34,584.00,7.10,NaN,56000000.00,93.00,"Adventure, Drama, Horror"
2,Smile,Smile,en,2022-09-23,1863.63,114.00,6.80,17000000.00,45000000.00,115.00,"Horror, Mystery, Thriller"
3,The Black Phone,The Black Phone,en,2022-06-22,1071.40,2736.00,7.90,18800000.00,161000000.00,103.00,"Horror, Thriller"
4,Presencias,Presences,es,2022-09-07,1021.00,83.00,7.00,NaN,NaN,NaN,Horror
...,...,...,...,...,...,...,...,...,...,...,...
32535,Catch a Butcher,Catch a Butcher,en,2021-11-20,0.60,NaN,NaN,NaN,NaN,11.00,Horror
32536,Shaye Saint John: The Triggers Compilation,Shaye Saint John: The Triggers Compilation,en,2006-10-30,0.60,NaN,NaN,NaN,NaN,92.00,"Fantasy, Horror"
32537,Welcome to the Occult Forest,Welcome to the Occult Forest,en,2022-07-22,0.60,NaN,NaN,NaN,NaN,141.00,"Comedy, Drama, Horror"
32538,The Mean One,The Mean One,en,2022-12-15,NaN,NaN,NaN,NaN,NaN,NaN,Horror
32539,Secret Formula,Secret Formula,en,2020-12-06,NaN,NaN,NaN,NaN,NaN,NaN,"Animation, Horror"

Registros que tiverem NaNs serão removidos, pois não serão de interesse.

In [10]:
dfilmes = dfilmes.dropna(thresh=dfilmes.shape[1]).reset_index(drop=True)
display(dfilmes)

,original_title,title,original_language,release_date,popularity,vote_count,vote_average,budget,revenue,runtime,genre_names
0,Smile,Smile,en,2022-09-23,1863.63,114.00,6.80,17000000.00,45000000.00,115.00,"Horror, Mystery, Thriller"
1,The Black Phone,The Black Phone,en,2022-06-22,1071.40,2736.00,7.90,18800000.00,161000000.00,103.00,"Horror, Thriller"
2,Jeepers Creepers: Reborn,Jeepers Creepers: Reborn,en,2022-09-15,821.61,125.00,5.80,20000000.00,2892594.00,88.00,"Horror, Mystery, Thriller"
3,Nope,Nope,en,2022-07-20,733.11,1684.00,7.00,68000000.00,170800000.00,130.00,"Horror, Mystery, Science Fiction, Thriller"
4,X,X,en,2022-03-17,543.67,1035.00,6.80,10000000.00,14257609.00,106.00,"Horror, Mystery, Thriller"
...,...,...,...,...,...,...,...,...,...,...,...
1017,Dead Vision,Dead Vision,en,2021-08-25,0.60,1.00,10.00,1500.00,1000.00,60.00,"Comedy, Horror"
1018,Willowpede,Willowpede,en,2020-01-03,0.60,3.00,10.00,5000.00,500.00,11.00,Horror
1019,I,I,en,2021-09-09,0.60,1.00,10.00,1.00,2.00,1.00,"Horror, Mystery"
1020,II,II,en,2021-09-09,0.60,1.00,10.00,1.00,2.00,2.00,"Horror, Mystery"
1021,III,III,en,2021-11-02,0.60,1.00,10.00,1.00,3.00,3.00,"Horror, Mystery"

In [11]:
dfilmes.info()     #Podemos visualizar o 'dtype'(formato de dado) de cada coluna, 
                   # e também o número de valores não nulos em cada coluna

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1022 entries, 0 to 1021
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   original_title     1022 non-null   object
 1   title              1022 non-null   object
 2   original_language  1022 non-null   object
 3   release_date       1022 non-null   object
 4   popularity         1022 non-null   float64
 5   vote_count         1022 non-null   float64
 6   vote_average       1022 non-null   float64
 7   budget             1022 non-null   float64
 8   revenue            1022 non-null   float64
 9   runtime            1022 non-null   float64
 10  genre_names        1022 non-null   object
dtypes: float64(6), object(5)
memory usage: 88.0+ KB

Em 'release_date' podemos trocar o formato de 'object'' para 'datetime'

In [12]:
# Convertemos a coluna de data para o tipo datetime para obter o formato adequado
dfilmes['release_date'] = pd.to_datetime(dfilmes['release_date'], dayfirst = True)
dfilmes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1022 entries, 0 to 1021
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   original_title     1022 non-null   object
 1   title              1022 non-null   object
 2   original_language  1022 non-null   object
 3   release_date       1022 non-null   datetime64[ns]
 4   popularity         1022 non-null   float64
 5   vote_count         1022 non-null   float64
 6   vote_average       1022 non-null   float64
 7   budget             1022 non-null   float64
 8   revenue            1022 non-null   float64
 9   runtime            1022 non-null   float64
 10  genre_names        1022 non-null   object
dtypes: datetime64[ns](1), float64(6), object(4)
memory usage: 88.0+ KB

In [13]:
# Extraímos o ano criando nova coluna
dfilmes['release_year'] = dfilmes['release_date'].dt.year
display(dfilmes)

,original_title,title,original_language,release_date,popularity,vote_count,vote_average,budget,revenue,runtime,genre_names,release_year
0,Smile,Smile,en,2022-09-23,1863.63,114.00,6.80,17000000.00,45000000.00,115.00,"Horror, Mystery, Thriller",2022
1,The Black Phone,The Black Phone,en,2022-06-22,1071.40,2736.00,7.90,18800000.00,161000000.00,103.00,"Horror, Thriller",2022
2,Jeepers Creepers: Reborn,Jeepers Creepers: Reborn,en,2022-09-15,821.61,125.00,5.80,20000000.00,2892594.00,88.00,"Horror, Mystery, Thriller",2022
3,Nope,Nope,en,2022-07-20,733.11,1684.00,7.00,68000000.00,170800000.00,130.00,"Horror, Mystery, Science Fiction, Thriller",2022
4,X,X,en,2022-03-17,543.67,1035.00,6.80,10000000.00,14257609.00,106.00,"Horror, Mystery, Thriller",2022
...,...,...,...,...,...,...,...,...,...,...,...,...
1017,Dead Vision,Dead Vision,en,2021-08-25,0.60,1.00,10.00,1500.00,1000.00,60.00,"Comedy, Horror",2021
1018,Willowpede,Willowpede,en,2020-01-03,0.60,3.00,10.00,5000.00,500.00,11.00,Horror,2020
1019,I,I,en,2021-09-09,0.60,1.00,10.00,1.00,2.00,1.00,"Horror, Mystery",2021
1020,II,II,en,2021-09-09,0.60,1.00,10.00,1.00,2.00,2.00,"Horror, Mystery",2021
1021,III,III,en,2021-11-02,0.60,1.00,10.00,1.00,3.00,3.00,"Horror, Mystery",2021

In [14]:
dfilmes[['popularity', 'vote_count', 'vote_average', 'budget', 'revenue', 'runtime']] = dfilmes[['popularity', 'vote_count', 'vote_average', 'budget', 'revenue', 'runtime']].astype(int)
display(dfilmes)

,original_title,title,original_language,release_date,popularity,vote_count,vote_average,budget,revenue,runtime,genre_names,release_year
0,Smile,Smile,en,2022-09-23,1863,114,6,17000000,45000000,115,"Horror, Mystery, Thriller",2022
1,The Black Phone,The Black Phone,en,2022-06-22,1071,2736,7,18800000,161000000,103,"Horror, Thriller",2022
2,Jeepers Creepers: Reborn,Jeepers Creepers: Reborn,en,2022-09-15,821,125,5,20000000,2892594,88,"Horror, Mystery, Thriller",2022
3,Nope,Nope,en,2022-07-20,733,1684,7,68000000,170800000,130,"Horror, Mystery, Science Fiction, Thriller",2022
4,X,X,en,2022-03-17,543,1035,6,10000000,14257609,106,"Horror, Mystery, Thriller",2022
...,...,...,...,...,...,...,...,...,...,...,...,...
1017,Dead Vision,Dead Vision,en,2021-08-25,0,1,10,1500,1000,60,"Comedy, Horror",2021
1018,Willowpede,Willowpede,en,2020-01-03,0,3,10,5000,500,11,Horror,2020
1019,I,I,en,2021-09-09,0,1,10,1,2,1,"Horror, Mystery",2021
1020,II,II,en,2021-09-09,0,1,10,1,2,2,"Horror, Mystery",2021
1021,III,III,en,2021-11-02,0,1,10,1,3,3,"Horror, Mystery",2021

In [15]:
# Uma maneira alternativa de visualizar os valores nulos é usando o método 'isnull().sum()'. Onde obtemos valores
#    booleanos com o método 'isnull' e em seguida fazemos a contagem com o método 'sum'.    

dfilmes.isnull().sum()

original_title       0
title                0
original_language    0
release_date         0
popularity           0
vote_count           0
vote_average         0
budget               0
revenue              0
runtime              0
genre_names          0
release_year         0
dtype: int64

#### Podemos utilizar algumas medidas estatísticas para explorar o conjunto de cada variável numérica do dataset.

In [16]:
dfilmes.describe()

,popularity,vote_count,vote_average,budget,revenue,runtime,release_year
count,1022.00,1022.00,1022.00,1022.00,1022.00,1022.00,1022.00
mean,31.72,1316.49,5.65,13566093.35,41360345.21,95.82,2002.40
std,83.61,1919.96,1.20,20116379.81,70269433.36,20.47,14.91
min,0.00,1.00,1.00,1.00,1.00,1.00,1953.00
25%,8.00,182.25,5.00,1600000.00,1449958.75,89.00,1992.00
50%,16.00,638.00,6.00,6450000.00,13222395.00,96.00,2006.00
75%,33.00,1684.75,6.00,16000000.00,49040071.00,104.00,2014.00
max,1863.00,16900.00,10.00,200000000.00,701842551.00,179.00,2022.00

## Automação para buscar os diretores dos filmes no site TMDB

In [18]:
# Função para buscar o diretor de um filme no TMDB
def buscar_diretor(filme_title):
    # Substitua pela sua chave da API do TMDB
    api_key = 'SUA_API_KEY_AQUI'
    
    # URL da requisição de busca de filmes no TMDB
    search_url = f'https://api.themoviedb.org/3/search/movie?api_key={api_key}&query={filme_title}'
    
    # Realiza a busca do filme por título
    response = requests.get(search_url)
    
    if response.status_code == 200:
        search_results = response.json()
        if search_results['results']:
            # Pega o ID do primeiro filme retornado
            movie_id = search_results['results'][0]['id']
            
            # URL da requisição para buscar detalhes do filme, incluindo o diretor
            details_url = f'https://api.themoviedb.org/3/movie/{movie_id}/credits?api_key={api_key}'
            response_details = requests.get(details_url)
            
            if response_details.status_code == 200:
                details = response_details.json()
                # Encontra o diretor entre os membros da equipe de produção (crew)
                for crew_member in details['crew']:
                    if crew_member['job'] == 'Director':
                        return crew_member['name']
    return None

In [22]:
# Função para buscar e atualizar diretores no dataframe
def atualizar_diretores(dfilmes, linha_inicial, linha_final):
    # Criando uma nova coluna chamada 'director', preenchida com NaN inicialmente
    dfilmes['director'] = pd.NA

    # Itera sobre o intervalo de linhas especificado
    for i in range(linha_inicial, linha_final):
        filme_title = dfilmes.loc[i, 'title']  # Obtém o título do filme
        diretor = buscar_diretor(filme_title)  # Busca o diretor pelo título do filme
        dfilmes.at[i, 'director'] = diretor  # Atualiza o dataframe com o nome do diretor

    return dfilmes

In [23]:
dfilmes1 = atualizar_diretores(dfilmes, 0, 25)

In [17]:
caminho_csv = 'D:\Guilherme Barros\GitHub\DataStudies\PROJECT_HORRORMOVIES\horrormoviesDATA.csv'
dfilmes.to_csv(caminho_csv, index=False)
print(f'DataFrame salvo como {caminho_csv}')

DataFrame salvo como D:\Guilherme Barros\GitHub\DataStudies\PROJECT_HORRORMOVIES\horrormoviesDATA.csv